<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
	default-autowire="byName">
	<context:annotation-config />
	<!-- 自动搜索@Controller,@Service,@Repository标注的类 -->
	
	<!-- 
		spring配置bean工厂有两种方法，可以是配置文件的bean标签进行配置
		也可以使用注解类进行配置（注意：使用注解类配置后，需要配置组件扫描器）
		配置扫描的package包名，也可以使用*号进行通配
	 -->
	<context:component-scan base-package="com.neuedu.springdemo.action"><!-- 修改这里包名 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>

	<!--启动Spring MVC的注解功能完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<!-- Default ViewResolver对模型视图名称的解析即在模型视图名称添加前后缀 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/> 
		<!-- 前缀，配置jsp页面所在的文件路径 -->
		<property name="prefix" value="/pages/" /> 
		<!-- 后缀，页面模板的类型 -->
		<property name="suffix" value=".jsp"></property> 
		</bean>
		
</beans>